<!DOCTYPE html>
<html>

<head>
    <title>DevApp Project</title>
    <link rel='stylesheet' href='/stylesheet/style.scss' />
</head>

<body>
    <div className="about">
        <h1>Welcome to the About Page!</h1>
        <p>Below you can find more information about this web
            applicaiton and the Project it has been designed for.</p>
    </div>
</body>

</html>