<!DOCTYPE html>
<html>

<head>
    <title>DevApp Project</title>
    <link rel='stylesheet' href='/stylesheet/about.css' />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cocktails">Cocktails</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div className="about">
        <h1>Cocktail Connoisseurs </h1>
      
        <p>Welcome to Cocktail Connoisseurs, your go-to online resource for all things cocktail-related! Whether you're
            a seasoned mixologist or a beginner looking to impress your guests, our website has everything you need to
            create delicious, perfectly-balanced cocktails every time.</p>

        <p> At Cocktail Connoisseurs, we believe that the secret to a great cocktail is in the ingredients. That's why
            we've curated a comprehensive collection of premium spirits, mixers, and garnishes from all around the
            world, so you can create your favorite cocktails just like the pros.</p>

        <p> But we know that ingredients are just one part of the equation. That's why we also provide expert advice and
            guidance on cocktail-making techniques, so you can elevate your skills and create cocktails that are as
            beautiful as they are delicious.</p>

        <p> Our website features a vast library of cocktail recipes, from classic drinks like the Old Fashioned and
            Margarita to modern creations like the Espresso Martini and the Aperol Spritz. Each recipe includes
            step-by-step instructions, as well as suggestions for substitutions and variations, so you can customize
            your drinks to your liking.</p>
            
        <p> So whether you're hosting a party or just looking to unwind after a long day, Cocktail Connoisseurs has
            everything you need to create the perfect drink. Cheers!</p>
      
    </div>
</body>

</html>