<!DOCTYPE html>
<html>

<head>
    <title>DevApp Project</title>
    <link rel='stylesheet' href='/stylesheet/style.scss' />
</head>

<body>
    <div className="cocktails">
        <div className="display">
            <div className="cocktail" key=>
                <div className="img">
                    <img src="" alt="" />
                </div>
                <div className="content">
                </div>
            </div>
        </div>
    </div>
</body>

</html>