<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheet/style.scss' />
</head>

<body>
    <div className="home">
        <div className="welcome">
            <h1>Welcome to the <%= title %></h1>
            <p>Lorem Ipsum</p>
        </div>
        <div className="nav">
            <h3>Navigate to the Coctails Page here</h3>
            <button>Cocktails</button>
            <h3>Or Find out more about us</h3>
            <button>About Page</button>
        </div>
    </div>
</body>

</html>